.statistic {
    position: relative;
    margin-top: 70px;
    &__signature {
        padding-top: 28px;
    }
    &__name {
        font-size: 10px;
        span {
            font-weight: 800;
            font-size: 14px;
            line-height: 24px;
        }
    }
    &__wrapper {
        padding-top: 11px;
        display: grid;
        grid-template-columns: repeat(2, 157px);
        grid-template-rows: repeat(2, 128px);
        grid-auto-rows: 128px;
        row-gap: 15px;
        column-gap: 25px;
    }
    &__number {
        font-weight: 700;
        font-size: 26px;
    }
    &__title_card {
        padding-top: 8px;
        font-weight: 600;
        font-size: 12px;
    }
    &__desc {
        padding-top: 2px;
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
    }
    &__wrapper_video {
        position: relative;
        margin-top: 108px;
        padding-top: 170px;
        padding-bottom: 38px;
        background-color: $color-bg;
    }
    &__video {
        position: absolute;
        top:-38px;
        width: 339px;
        height: 180px;
        .play {
            position: absolute;
            top: 72px;
            left: 151px;
        }
    }
    &__elipse_green {
        position: absolute;
        right: 50px;
        bottom: 48px;
    }
    &__rectangle {
        width: 38px;
        height: 2px;
        background-color: $color-orange-base;
    }
    &__start {
        padding-top: 8px;
        width: 250px;
    }
    &__text {
        padding-top: 12px;
    }
    &__button {
        margin-top: 18px;
    }
}