@import "fonts";
@import "base/variables";

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: $color-main;
}

.container {
    width: 339px;
    margin: 0 auto;
}

.text {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: $color-text;
}

@import "blocks/title";
@import "blocks/button";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/promo";
@import "blocks/statistic";
@import "blocks/courses";